<div *ngIf="loginService.isLoggedIn.value" class="navbar">
  <div class="navbar-content">
    <mat-icon (click)="showAccount()" class="account-icon">account_circle</mat-icon>
    <h1 class="welcome-message">Welcome, {{ user.username }}</h1>

    <div class="search-bar">
      <input type="text" [(ngModel)]="searchValue" placeholder="Search Songs">
      <select [(ngModel)]="selectedOption" class="search-select">
        <option *ngFor="let option of searchOptions" [value]="option">
          {{ option }}
        </option>
      </select>
      <button (click)="search()">Search</button>
    </div>


  </div>
  <button mat-icon-button class="matIcon-button">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="matIcon-button" (click)="logoutSwal()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>

<!-- Content goes here -->
<div class="content">
  <h1 class="title"></h1>
</div>
