/* Navbar */
.navbar {
  background-color: #1976d2;
  color: #fff;
  padding: 15px; /* Increase padding for a larger appearance */
  display: flex;
  align-items: center;
  position: fixed;
  top: 2em;
  left: 2%; /* Ensure the navbar is aligned to the left edge of the screen */
  width: 95%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.account-icon {
  margin-right: 2em; /* Reduced margin to balance the spacing */
}

.welcome-message {
  margin: 0;
  font-size: 1.2em; /* Increase font size for a bigger welcome message */
}

.search-bar {
  margin-left: 3em; /* Adjusted margin to balance the spacing */
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 6px; /* Adjusted padding for better appearance */
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 6px 12px; /* Adjusted padding for better appearance */
  border: none;
  font-size: 16px;
}

.search-bar button {
  background-color: #1976d2;
  color: #fff;
  border: none;
  padding: 6px 16px; /* Adjusted padding for better appearance */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #135ba1;
}

.search-select {
  padding: 6px 12px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-left: 10px;
  width: 150px;
}

.matIcon-button {
  margin-left: auto; /* Push the logout button to the right side */
}

/* Content */
.content {
  width: 90%;
  margin: 20px auto; /* Center the content */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5; /* Increase line height for better readability */
}

.content p:first-child {
  font-style: italic;
}

.content p:nth-child(2) {
  font-weight: bold;
}

/* Hyperlink Styling */
.content a {
  color: #1976d2; /* Set hyperlink color */
  text-decoration: none; /* Remove underline */
}

.content a:hover {
  text-decoration: underline; /* Add underline on hover */
}
