/* Navbar */
.navbar {
  background-color: #1976d2;
  color: #fff;
  padding: 15px; /* Increase padding for a larger appearance */
  display: flex;
  align-items: center;
  position: fixed;
  top: 2em;
  left: 2%; /* Ensure the navbar is aligned to the left edge of the screen */
  width: 95%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.account-icon {
  margin-right: 2em; /* Reduced margin to balance the spacing */
}

.welcome-message {
  margin: 0;
  font-size: 1.2em; /* Increase font size for a bigger welcome message */
}

.search-bar {
  margin-left: 3em; /* Adjusted margin to balance the spacing */
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 6px; /* Adjusted padding for better appearance */
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 6px 12px; /* Adjusted padding for better appearance */
  border: none;
  font-size: 16px;
}

.search-bar button {
  background-color: #1976d2;
  color: #fff;
  border: none;
  padding: 6px 16px; /* Adjusted padding for better appearance */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #135ba1;
}

.search-select {
  padding: 6px 12px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-left: 10px;
  width: 150px;
}

.matIcon-button {
  margin-left: auto; /* Push the logout button to the right side */
}

/* Content */
.content {
  width: 90%;
  margin: 20px auto; /* Center the content */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5; /* Increase line height for better readability */
}

.content p:first-child {
  font-style: italic;
}

.content p:nth-child(2) {
  font-weight: bold;
}

/* Hyperlink Styling */
.content a {
  color: #1976d2; /* Set hyperlink color */
  text-decoration: none; /* Remove underline */
}

.content a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.add-to-playlist-button {
  background-color: #1976d2;
  color: white;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-playlist-button:hover {
  background-color: #135ba1;
}

.track-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.track-image {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.track-details {
  flex-grow: 1;
}

.track-name {
  font-weight: bold;
}

.track-artist, .track-album, .track-duration {
  color: #666;
}

.track-links {
  margin-left: auto;
}

.spotify-link {
  margin-left: 1em;
  color: #1976d2;
  text-decoration: none;
}

.spotify-link:hover {
  text-decoration: underline;
}

.playlist-container > div {
  height: 20em; /* Adjust as needed */
  overflow: auto; /* Add a scrollbar if the content exceeds the height */
}

.track-container {
  height: 10em; /* Adjust as needed */
  overflow: auto; /* Add a scrollbar if the content exceeds the height */
}
img {
  border-radius: 3%;
}

.getPlaylistButton {
  margin-left: 5em;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.getPlaylistButton:hover {
  background-color: #1976d2;
}

.playlist {
  background-color: #f0f0f0; /* Change the background color to light grey */
  border: 2px solid black; /* Change the border color to deep sky blue */
  border-radius: 10px; /* Increase the border radius for rounded corners */
  padding: 20px; /* Increase the padding for more space around the content */
  margin-bottom: 20px; /* Increase the margin-bottom for more space between playlists */
}

.playlist h2 {
  color: #1976d2; /* Change the playlist name color to deep sky blue */
  font-size: 24px; /* Increase the font size for a bigger playlist name */
}

.playlist h4 {
  color: #666; /* Change the playlist description color to dark grey */
  font-size: 18px; /* Increase the font size for a bigger playlist description */
}
