<div *ngIf="loginService.isLoggedIn.value" class="navbar">
  <div class="navbar-content">
    <mat-icon (click)="showAccount()" class="account-icon">account_circle</mat-icon>
    <h1 class="welcome-message">Welcome, {{ user.username }}</h1>

    <div class="search-bar">
      <input type="text" [(ngModel)]="searchValue" placeholder="Search Songs">
      <select [(ngModel)]="selectedOption" class="search-select">
        <option *ngFor="let option of searchOptions" [value]="option">
          {{ option }}
        </option>
      </select>
      <button (click)="search()">Search</button>
    </div>


  </div>
  <button mat-icon-button class="matIcon-button">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="matIcon-button" (click)="logoutSwal()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>

<div style="margin-top: 15em;">
  <div *ngFor="let result of searchResults" class="content" [ngSwitch]="result.type">

    <h2>{{ result.name }}</h2>

    <ng-container *ngSwitchCase="'track'">
      <p>Artist: {{ result.artists[0].name }}</p>

      <a [href]="result.artists[0].external_urls.spotify">
        Artists page: {{ result.artists[0].external_urls.spotify }}</a>

      <p>Album: {{ result.album.name }}</p>

      <p *ngIf="result.type === 'track'">Duration: {{ result.duration_ms | date:'mm:ss' : 'UTC' }}</p>

      <br>
      <p><a [href]="result.external_urls.spotify" target="_blank">Listen on Spotify</a></p>
      <img [src]="result.album.images[1]?.url || 'assets/imageNotFound.jpg'" alt="Album Cover">


    </ng-container>

    <ng-container *ngSwitchCase="'album'">
      <p>Artist: {{ result.artists[0].name }}</p>
      <a [href]="result.artists[0].external_urls.spotify">
        Artists page: {{ result.artists[0].external_urls.spotify }}</a>

      <p>Release Date: {{ result.release_date }}</p>

      <br>
      <p><a [href]="result.external_urls.spotify">Open on Spotify</a></p>
      <img [src]="result.images[1]?.url || 'assets/imageNotFound.jpg'" alt="Album Cover">
    </ng-container>

    <ng-container *ngSwitchCase="'artist'">
      <p *ngIf="result.type === 'artist'">Genres: {{ result.genres.join(', ') }}</p>
      <p *ngIf="result.type === 'artist'">Followers: {{ result.followers?.total }}</p>
      <p>Popularity: {{ result.popularity }}</p>

      <br>
      <p><a [href]="result.external_urls.spotify">Open on Spotify</a></p>
      <img [src]="result.images[1]?.url || 'assets/imageNotFound.jpg'" alt="Artist Image">
    </ng-container>

    <ng-container *ngSwitchCase="'playlist'">
      <p>Description: {{result.description}}</p>

      <p>Owner: {{ result.owner.display_name }}</p>
      <p>Tracks: {{ result.tracks.total }}</p>
      <p><a [href]="result.owner.external_urls.spotify">{{result.owner.display_name}}</a></p>


      <br>
      <p><a [href]="result.external_urls.spotify">Open on Spotify</a></p>
      <img [src]="result.images[1]?.url || result.images[0].url || 'assets/imageNotFound.jpg'" alt="Playlist Image">
    </ng-container>

  </div>

</div>
