form {
  width: 25em;
  height: 30em; /* Adjust the height as needed */
  padding: 30px; /* Increase the padding */
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  border-radius: 8px;
  transition: all 0.5s ease;
}

div {
  margin-bottom: 20px; /* Increase the margin */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
  width: 93%;
  padding: 20px; /* Increase the padding */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px; /* Increase the font size */
  transition: all 0.3s ease;
}

button {
  width: 100%;
  padding: 15px; /* Increase the padding */
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px; /* Increase the font size */
}

button:hover {
  background-color: #0056b3;
}

h1{
  text-align: center;
  margin-bottom: 2em;
}
